#root {
  width: 100%;

}

/* Clear autofill */
input:-webkit-autofill {
  -webkit-background-clip: text;
}


/* Remove arrow from input type number */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button{ 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number]{
  -moz-appearance: textfield;
}